@media screen and (max-width: 490px) {
    main div.links a {
        padding: 20px 140px;
    }

    main footer {
        margin: 35% 0 0 0;
    }

    main figure.image {
        width: 80%;
    }

    main figure.image {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 768px) {
    main div.links a {
        padding: 20px 250px;
    }
}