@media screen and (max-width: 500px) {
    main div.links a {
        padding: 20px 130px;
    }

    main footer {
        margin: 25% 0 0 0;
    }

    main figure.image {
        width: 80%;
    }
}